[submodule "linktic-frontend"]
	path = frontend
	url = https://github.com/yotmanreyes/linktic-frontend
[submodule "linktic-ms-auth"]
	path = ms-auth
	url = https://github.com/yotmanreyes/linktic-ms-auth.git
[submodule "linktic-ecommerce-api"]
	path = ms-ecommerce
	url = https://github.com/yotmanreyes/linktic-ecommerce-api
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/yotmanreyes/linktic-ms-gateway

